<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8" />

    <title>Admin Page</title>

    <link href="/admin.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="/admin-script.js"></script>
</head>
<body>

    <div class="header">
        <h1>Admin Page</h1>
        <p>Control database of WEB 3 Project</p>
    </div>

    <div id="body_menu">
        <ul>
            <li><a href="admin_award">Award</a></li>
            <li><a href="admin_employee" class="active">Employee</a></li>
            <li><a href="admin_account">Account</a></li>
        </ul>
    </div>

    <div class="row">
        <div class="leftcolumn">
            <div class="card">
                <h2>AWARD OF EMPLOYEE</h2>
                {{#data.nameEmployee}}
                <h5>Name of Employee: {{firstName}} {{lastName}}</h5>
                {{/data.nameEmployee}}
                <div class="leftcontent" style="height: auto; overflow:auto">
                    <table id="award_table" style="margin:5%">
                        <thead>
                          <tr>
                              <th style ="display:none">ID</th>
                              <th>AwardID</th>
                              <th>Name</th>
                              <th>Description</th>
                              <th>Date</th>
                              <th>Delete</th>

                          </tr>
                        </thead>
                        <tbody>
                            {{#data.awardData}}
                              <tr>
                                  <td style ="display:none">{{id}}</td>
                                  <td>{{idaward}}</td>
                                  <td>{{name}}</td>
                                  <td>{{description}}</td>
                                  <td>{{date}}</td>
                                  <td><input type="button" value="Delete" onclick="delete_row_en_aw(this)"></input</td>

                              </tr>
                            {{/data.awardData}}
                        </tbody>
                    </table>
                    <br>
                    <!--
                    <div id="div_each_em" width: 100% padding: 20px; style="margin: 5%; visibility: hidden">
                    {{#data.eachEmployee}}
                    <p>Table Award of employee: {{firstname}} {{lastname}}</p>
                    {{/data.eachEmployee}}
                    <div> -->
                </div>
                <p>Some text..</p>
            </div>
            <div class="card" id="add_em">
                <h2>Add new Award</h2>
                <div style="height: auto; color: white">
                    <form action="http://flip2.engr.oregonstate.edu:4247/admin_insert_em_aw">
                        <fieldset>
                            {{#data.nameEmployee}}
                            <legend style="color:black">Add a new Award for Employee: {{firstName}} {{lastName}}</legend>
                            <br />
                            <label style="display: none">
                                  <input id="id_in" type="number" name="id" size="30" maxlength="100" value={{id}}>
                            </label>

                            <label style="display: none">
                                  <input id="id_first" type="text" name="first" size="30" maxlength="100" value={{firstName}}>
                            </label>

                            <label style="display: none">
                                 <input id="id_last" type="text" name="last" size="30" maxlength="100" value={{lastName}}>
                            </label>

                            {{/data.nameEmployee}}
                            <label style="color:black">
                                 Choose Award:<br />
                                 <select id="sel1" name="award">
                                        {{#data.award}}
                                          <option value={{id}}>{{name}}</option>
                                        {{/data.award}}
                                 </select>

                            </label>
                            <br />

                            <input type="submit" id="add_em_aw_submit">
                        </fieldset>
                    </form>
              </div>
            </div>
        </div>
        <div class="rightcolumn">
            <div class="card">
                <h2>About Me</h2>
                <div class="img" style="height:100px;">Image</div>
                <p>Some text about me in culpa qui officia deserunt mollit anim..</p>
            </div>
            <div class="card">
                <h3>Popular Post</h3>
                <div class="img"><p>Image</p></div>
                <div class="img"><p>Image</p></div>
                <div class="img"><p>Image</p></div>
            </div>
            <div class="card">
                <h3>Follow Me</h3>
                <p>Some text..</p>
            </div>
        </div>
    </div>

    <div class="footer">
        <h2>Footer</h2>
    </div>
</body>
</html>
