<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8" />

    <title>Admin Page</title>

    <link href="/admin.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="/admin-script.js"></script>
</head>
<body>

    <div class="header">
        <h1>Admin Page</h1>
        <p>Control database of WEB 3 Project</p>
    </div>

    <div id="body_menu">
        <ul>
            <li><a href="admin_award">Award</a></li>
            <li><a href="admin_employee">Employee</a></li>
            <li><a href="admin_account" class="active">Account</a></li>
        </ul>
    </div>

    <div class="row">
        <div class="leftcolumn">
            <div class="card">
              <h2>ACCOUNT INFORMATION</h2>
              <h5>Title description, Dec 7, 2017</h5>
              <div class="leftcontent" style="height: auto; overflow:auto">
                  <table id="employee_table" style="margin:5%">
                      <thead>
                        <tr>
                            <th>ID</th>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Username</th>
                            <th>Password</th>
                            <th>Timestamp</th>
                            <th>Delete</th>
                            <th>Edit</th>
                        </tr>
                      </thead>
                      <tbody>
                          {{#data.accountData}}
                            <tr>
                                <td>{{id}}</td>
                                <td>{{fname}}</td>
                                <td>{{lname}}</td>
                                <td>{{username}}</td>
                                <td>{{password}}</td>
                                <td>{{timestamp}}</td>

                                <td><input type="button" value="Delete" onclick="delete_row_en(this)"></input</td>
                                <td><input type="button" value="Edit" onclick="edit_row_en(this)"></input</td>
                            </tr>
                          {{/data.accountData}}
                      </tbody>
                  </table>
                  <br>
                  <!--
                  <div id="div_each_em" width: 100% padding: 20px; style="margin: 5%; visibility: hidden">
                  {{#data.eachEmployee}}
                  <p>Table Award of employee: {{firstname}} {{lastname}}</p>
                  {{/data.eachEmployee}}
                  <div> -->
              </div>
              <p>Some text..</p>
            </div>
            <div class="card" id="card_id" style="display:none">
                <h2>TITLE HEADING</h2>
                <h5>Title description, Sep 2, 2017</h5>
                <div class="img" style="height:200px;">Image</div>
                <p>Some text..</p>
            </div>
        </div>
        <div class="rightcolumn">
            <div class="card">
                <h2>About Me</h2>
                <div class="img" style="height:100px;">Image</div>
                <p>Some text about me in culpa qui officia deserunt mollit anim..</p>
            </div>
            <div class="card">
                <h3>Popular Post</h3>
                <div class="img"><p>Image</p></div>
                <div class="img"><p>Image</p></div>
                <div class="img"><p>Image</p></div>
            </div>
            <div class="card">
                <h3>Follow Me</h3>
                <p>Some text..</p>
            </div>
        </div>
    </div>

    <div class="footer">
        <h2>Footer</h2>
    </div>
</body>
</html>
