<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">


    <title>User - Welcome</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">

	<link href="web3.css" rel="stylesheet">
	
  </head>

  <body>
	<div class="jumbotron jumbotron-fluid " >
		<div class="container" style="color:white">
			<h1 class="display-3"><b>Welcome</b></h1>
		</div>
	</div>

    <nav class="navbar fixed-top navbar-expand-lg navbar-dark orange-nav-bar">
		<a class="navbar-brand" href="#">LYNX</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
			</button>
	<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
		<div class="navbar-nav">
			<a class="nav-item nav-link active" href="#">Home <span class="sr-only">(current)</span></a>
			<a class="nav-item nav-link" href="#">Create New Award</a>
			<a class="nav-item nav-link" href="#">Reports</a>
			<a class="nav-item nav-link disabled" href="#">Account Settings</a>
		</div>
	</div>
	</nav>

	<br><div><h3>Previously Created Awards</h3></div>
	<table class=" table table-hover table-dark">
	
		<thead>
			<tr>
				<td><b>Date</b></td>
				<td><b>First Name</b></td>
				<td><b>Last Name</b></td>
				<td><b>Award Type</b></td>
				<td><b>Email</b></td>
				<td><b>Print Award</b></td>
				<td><b>Delete Award</b></td>
			</tr>
		</thead>
		<tbody>
			<!--{{#each award}}-->
			<tr>
				<td>{{date}}</td>
				<td>{{fname}}</td>
				<td>{{lname}}</td>
				<td>{{type}}</td>
				<td>{{email}}</td>
				<td><button>Print</button></td>
				<td><button>Delete</button></td>
			</tr>
			<!--{{/each}}-->
		</tbody>
	</table>


  </body>
</html>
